<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/assets/style.css">
        <title>Error</title>
    </head>
    <body>
        <main class="main news">
            <div class="main__inner">
                <div class="main__logo">
                    <a href="index.html">
                        <img src="/static/metal-in-blood/MiB-logo.png" alt="">
                        <span> Error </span>
                    </a><br>
                    <h1> {{ code }} </h1>
                    <br><br><br><br><br><br>
                    <h3> {{ text }} </h3>
                </div>
            </div>
        </main>
    </body>
</html>
